// ignore .env file
.env

// ignore database
db.sqlite

// ignore access log
access.log

// ignore snyk cache
.dccache
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
